@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  font-weight: 700;
  border-bottom: 4px;
  border-style: solid;
  border-color: #0e7240;
  padding-bottom: 4px;
}

.logoRotate {
  animation: logo-Spin infinite 20s linear;
}

@keyframes logo-Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
